<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Let's meet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C2F5293D1D51067000AB6337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2F529511D51067100AB6337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2F5295C1D51067100AB6337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
